* {
    box-sizing: border-box;
}

@font-face {
  font-family: "Alegreya";
  font-style:  normal;
  font-feature-settings: "lnum", "tnum";
  src: url("../assets/Alegreya-Regular.ttf")
}

@font-face {
  font-family: "Alegreya";
  font-style:  italic;
  src: url("../assets/Alegreya-Italic.ttf")
}

:root {
    --leegte-kleur: lightyellow;
    --achtergrondkleur: black;
    --tekstkleur: white;
    --achtergrondkleur2: white;
    --tekstkleur2: black;

    --knopkleur: #00000000;
    --knopkleuractief: #ff8400;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--leegte-kleur);

    font-family: "Alegreya";

    button > svg:nth-child(2) {
        display: none;
    }
}

button {
    background-color: var(--knopkleur);
    transition: 0.25s;
    margin-top: 5px;
    margin-right: 5px;
}

button:hover {
    background-color: var(--knopkleuractief);
}

body.is-expanded {
    article {
        width: 600px;
        height: 460px;
    }

    button > svg:nth-child(1) {
        display: none;
    }
    button > svg:nth-child(2) {
        display: unset;
    }
}

h1 {
    margin-bottom: 0;
    margin-top: 5px;
}

p.slogan {
    margin: 5px 0;
}

article {
    display: flex;
    flex-direction: column;
    width: 400px;

    height: 500px;
    justify-content: start;
    align-items: center;

    color: var(--tekstkleur);
    background-color: var(--achtergrondkleur);

    border-radius: 1rem;
    box-shadow: 0 0 20px 20px rgb(0 0 0 / .1);

    transition: .25s;
}

article > header {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;

    button {
        position: absolute;
        align-self: end;
        background: none;
        border-radius: 50%;
        border: 2px solid var(--tekstkleur);
        svg {
            stroke: white;
        }
    }
}

article > div {
    width: 100%;
    display: grid;

    details {
        /*Er komt geen bounding box bij dit element, dus er wordt niet gescrold wanneer je het
        target via een link.*/
        display: contents;
    }

    summary {
        grid-row-start: 1;
        grid-row-end: 2;

        position: relative;

        display: flex;
        align-items: center;
        flex-direction: column;

        margin-bottom: 20px;


        &::after {
            content: "🠗";
            font-size: 2em;
            visibility: hidden;
            position: absolute;
            bottom: -37px;
        }

        :target &::after {
            visibility: visible;
        }

        a {
            color: var(--tekstkleur);
            text-decoration: none;
            padding: 10px;
            border-radius: 50%;
            border: 2px solid var(--tekstkleur);

            transition: 0.25s;
        }

        a:hover {
            background-color: var(--knopkleuractief);
        }

    }

    details::details-content {
        display:none;
        grid-row-start: 2;
        grid-row-end: 3;

        grid-column-start: 1;
        grid-column-end: 4;

        margin: 5px 0;
    }

    ul {

        background-color: var(--achtergrondkleur2);
        color: var(--tekstkleur2);

        margin: 0;
        margin-top: 5px;
        padding-left: 20px;
        padding-right: 5px;
    }

    li {
        font-weight: bold;
        p {
            font-weight: normal;
            margin: 0;
            margin-left: 10px;
        }
    }

    details:target::details-content {
        display: block;
    }

}
